<!DOCTYPE html>
<html>

<head>
	<title><%= @title %> | Ruby on Rails Tutorial Sample App</title>
</head>

<body>
	<h1><%= @title %> | Ruby on Rails Tutorial Sample App</h1>

	<h2>pages#index Hello</h2>
	<p></p>
	<p>Find me in app/views/pages/index.html.erb</p>

	<p></p>
	<p></p>

	<%= link_to "home", home_path %>
	<%= link_to "about", about_path %>
	<%= link_to "index", index_path %>

	<p></p>

</body>
</html>
